.grid {
  width: 100%;
}
table {
  width: 100%;
}
td {
  width: 6.6666666666666666%;
  position: relative;
  background-color: gold;
  border: 1px solid gray;
  text-align: center;
}
i {
  font-style: normal;
  border: 1px solid gray;
  display: inline-block;
}
